@using SXJWeb.Models;
@model OrderInfo

<div id="editOrder" data-page="edit-order" class="page">
    <div class="page-content">
        <form id="frmEditOrder" action="/home/edit" method="post">
            <input type="hidden" name="ID" value="@Model?.ID" />
            <div class="list-block inset">
                <ul>
                    <li>
                        <a href="#" class="item-link smart-select" data-back-on-select="true">
                            <!-- select -->
                            @Html.DropDownList("ChannelID",Channel.DataSource.Select(
                                kv=>new SelectListItem() {
                                    Text =kv.Value,
                                    Value =kv.Key,
                                    Selected =Model?.ChannelID==kv.Key
                                }))
                            <div class="item-content">
                                <div class="item-inner">
                                    <!-- Select label -->
                                    <div class="item-title">微信号</div>
                                    <!-- Selected value, not required -->
                                    <div class="item-after"></div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">姓名</div>
                                <div class="item-input">
                                    <input type="text" name="Name" placeholder="客户名" value="@Model?.Name">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">电话</div>
                                <div class="item-input">
                                    <input type="tel" name="Phone" placeholder="客户电话" value="@Model?.Phone">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">详细地址</div>
                                <div class="item-input">
                                    <textarea class="resizable" name="Address" placeholder="例:广东省广州市白云区金钟横路29号">@Model?.Address</textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-block inset">
                <input type="submit" class="button button-big button-fill color-green submit" id="addSubmit" value="提交" />
                @if (Model != null) {
                <input type="button" class="button button-big button-fill color-red submit" id="delSubmit" d-id="@Model.ID" value="删除" />
                }
            </div>
            <div class="card card-small" style="clear:both;">
                <div class="card-content">
                    <a href="#" id="btnAddItem" class="link">
                        <img src="images/add.jpg" width="100%" />
                    </a>
                </div>
                <div class="card-footer card-small-footer" style="padding:0;">
                    <div style="display:none;">
                        <input type="file" id="inputFile" />
                        <input type="hidden" name="itemCount" value="0" id="addItemCount" />
                        <input type="hidden" name="imageDelete" value="" id="delImageID" />
                    </div>
                    <div><div style="float:left;line-height:36px;font-weight:600">复制图片:</div><textarea id="txtFile"></textarea></div>
                </div>
            </div>
            <div id="addItemList">
                @if (Model != null && Model.ItemList != null) {
                    int index=0;
                    foreach (var item in Model.ItemList)
                    {
                    <div class="card card-small" d-index="@index">
                        <div class="card-content">
                            <img src="@item.Image.FilePath" width="100%" />
                            <i class="f7-icons color-red card-close" onclick="deleteCard(this,@item.ImageID)">close_round_fill</i>
                        </div>
                        <div class="card-footer card-small-footer">
                            <input type="hidden" name="hidFile-@index" value="@item.ImageID" />
                            <div><input type="text" name="size-@index" placeholder="尺码" value="@item.Size" /></div>
                            <div><input type="text" name="supplier-@index" placeholder="档口" value="@item.Supplier?.Name" /></div>
                        </div>
                    </div>
                        index++;
                    }
                }
            </div>
        </form>
    </div>
</div>